@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

header {
  font-family: 'Playpen Sans', cursive;
  font-weight: 100;
  padding: 0px 20px;
  border-bottom: rgb(238, 238, 238) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: burlywood;
  padding: 10px;
  border-radius: 20px;
  margin: 20px;
}

header nav a {
  color: rgb(24, 24, 24);
  font-size: 30px;
  padding: 0px 10px;
  text-decoration: none;
  position: relative;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0, auto;
  &::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid black;
    bottom: 0;
    left: 50%;
    width: 0;
  }
  &:hover {
    transition: none;
  }
  &:hover::before {
    transition: all 600ms ease;
    width: 90%;
    left: 5%;
  }
}

main {
  display: flex;
  justify-content: space-around;
}

main section {
  padding: 30px 30px 0px;
}

aside {
  width: 33%;
  min-height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
    height: calc(100% - 30px);
    border-right: 1px solid rgb(238, 238, 238);
  }
}

#selects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

select {
  width: 180px;
  margin: 0px 3px 10px;
  padding: 8px 4px;
  border-radius: 4px;
  border: 1px solid silver;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🐶</text></svg>") 16 0, auto;
  &:focus {
    outline: 1px solid rgb(22, 111, 236);
  }
}

#pictures {
  width: 67%;
}

#images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#images div img {
  width: 200px;
  padding: 10px;
  object-fit: cover;
  height: 200px;
  transition: transform 400ms ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
}

.categoryTitle {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}

#pictures h4 {
  text-align: center;
  color: rgb(132, 132, 132);
  font-size: 14px;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#info div img {
  width: 380px;
  height: 250px;
  object-fit: cover;
  border-radius: 100px;
  display: none;
  &[src] {
    display: block;
  }
}

#info div {
  margin-bottom: 7px;
}

form {
  width: 80%;
  text-align: center;
  padding: 10px;
}

#form {
  background-color: rgb(83, 81, 81);
  display: flex;
  justify-content: center;
}

input, button {
  padding: 5px;
}

input {
  flex-grow: 1;
}

button {
  background-color: rgb(230, 149, 44);  
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}